.main-resultados {
    width: 100vw;
    height: 100vh;
}

.section-resultados {
    padding: 50px 0 0 0;
    height: 100%;
    width: 80%;
    min-width: 320px;
    margin: 0 auto;
    justify-items: center;
}

.sponsor {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: var(--lg);
    justify-content: center;
    margin-bottom: 10px;
}

.resultados {
    position: relative;
}

.tiempo {
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: var(--sm);
}


.teams-container {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-auto-rows: 200px;
    place-content: center;
    gap: 20px;
}

.team {
    display: grid;
    place-items: center;
    position: relative;
}

.team li {
    display: inline-block;
    list-style: none;
    font-size: var(--sm);
    border-radius: 50%;
}



.team .li-img {
    font-size: var(--sm);
    border: solid 1px;
    width: 100px;
    height: 100px;
}

.team .marcador {
    font-weight: lighter;
    font-size: var(--lg);
    position: absolute;
}

.team.home .marcador{
    bottom: 10px;
    right: 16px;
}
.team.away .marcador{
    bottom: 10px;
    left: 16px;
}

.world-cup {
    display: flex;
    justify-content: center;
    height: 95px;
    font-size: var(--lg);
}

.world-cup .img {
    width: 50px;
    height: 50px;
}