.main {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  place-content: center;
}

.background {
  background-image: url('../../../assets/background/ultrawide-vertical-cancha.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.container-sponsor {
  display: flex;
  place-content: center;
  width: 100%;
  margin-bottom: 5%;

  img {
    width: 55%;
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
  }
}

.container-letter {
  width: 100%;
  display: flex;
  justify-content: center;

  .letter {
    font-size: 6rem;
    color: white;
    top: 0px;
    text-align: center;
    font-weight: 900;
    text-shadow: black 5px 10px 10px;
  }

  .g {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .o1 {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .o2 {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .o3 {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .l {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .signo {
    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-right 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*Media Query Mobile Devices*/

@media(min-width:360px) and (max-width: 539px) and (orientation: portrait) {
  .container-sponsor {

    img {
      width: 70%;
    }
  }

  .container-letter {
    .letter {
      font-size: 10rem;
    }
  }
}

@media(min-height: 280px) and (max-height: 414px) and (orientation: landscape) {
  .container-sponsor {
    img {
      width: 40%;
      max-width: 150px;
    }
  }
  .container-letter {
    .letter {
      font-size: 8rem;
    }
  }
}

/*Media Query Tablets Devices*/


/*Surface Duo*/
@media(min-width:540px) and (max-width: 769px) and (orientation: portrait) {
  .container-sponsor {

    img {
      width: 70%;
    }
  }

  .container-letter {
    .letter {
      font-size: 14rem;
    }
  }
}

@media(min-height:540px) and (orientation: landscape) {
  .container-sponsor {

    img {
      width: 60%;
    }
  }

  .container-letter {
    .letter {
      font-size: 18rem;
    }
  }
}

/*iPad Mini, Air and Surface Pro*/

@media(min-width: 768px) and (max-width: 912px) and (orientation: portrait) {
  .container-sponsor {

    img {
      width: 60%;
    }
  }

  .container-letter {
    .letter {
      font-size: 20rem;
    }
  }
}

@media(min-height: 768px) and (max-height: 912px) and (orientation: landscape) {
  .container-sponsor {

    img {
      width: 50%;
    }
  }

  .container-letter {
    .letter {
      font-size: 25rem;
    }
  }
}



@media(aspect-ratio: 1/1) {
  .container-sponsor {

    img {
      width: 70%;
    }
  }

  .container-letter {
    .letter {
      font-size: 30rem;
    }
  }
}

@media (min-height: 1920px) and (orientation: portrait) {
  .background {
    background-image: url('../../../assets/background/background-cancha-vertical.svg');
  }

  .container-sponsor {
    margin-bottom: 10%;

    img {
      width: 75%;
    }
  }
}

@media (min-width: 1920px) and (orientation: landscape) {
  .background {
    background-image: url('../../../assets/background/background-cancha-horizontal.svg');
  }

  .container-sponsor {
    margin-bottom: 0;

    img {
      width: 30%;
    }
  }

  .parrafo {
    font-size: 50rem;
  }
}
