<div *ngIf="match" class="partidos">
  <!-- TIEMPO PARTIDO -->
  <div *ngIf="statusShort == 'HT'; then halfTimeBlock; else tiempoBlock"></div>
  <ng-template #tiempoBlock>
    <h2 class="tiempo">{{ minutes }}{{ seconds }}</h2>
  </ng-template>
  <ng-template #halfTimeBlock>
    <div class="container-halftime">
      <img class="halftime" src="../../../../assets/logos/Halftime.svg" alt="Entretiempo" />
    </div>
  </ng-template>
  <div class="teams-container">
    <!-- LOCAL -->
    <div class="team home">
      <div class="escudo">
        <img [src]="getFlag(match.teams.home)" alt="logo local" />
      </div>
      <div class="name">
        {{ match.teams.home.name | uppercase | slice: 0:3 }}
      </div>
    </div>
    <!-- VISITANTE -->
    <div class="team away">
      <div class="escudo">
        <img [src]="getFlag(match.teams.away)" alt="logo visitante" />
      </div>
      <div class="name">
        {{ match.teams.away.name | uppercase | slice: 0:3 }}
      </div>
    </div>
    <!-- MARCADOR DEL PARTIDO -->
    <div class="marcador">
      <div [ngClass]="{ 'marcador--anim': isGoalHome }">
        {{ match.goals.home }}
      </div>
      <div>-</div>
      <div [ngClass]="{ 'marcador--anim': isGoalAway }">
        {{ match.goals.away }}
      </div>
    </div>
  </div>
</div>
