.main-partidos {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../assets/background/background-cancha-cuadrado.svg');
}

.section-partidos {
  display: grid;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  place-items: center;
}

.sponsor-marcador {
  width: 60%;
  place-self: center;
  justify-content: center;
  display: grid;
  img {
    width: 100%;
  }
}

.partidos {
  position: relative;
  width: 100%;
  .tiempo {
    position: absolute;
    text-align: center;
    top: -15%;
    left: 0;
    right: 0;
    font-family: Bahnschrift;
    font-size: 12rem;
    color: white;
  }
  .teams-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.team {
  width: 50%;
  .escudo {
    width: 65%;
    height: 100%;
    display: flex;
    border-radius: 50%;
    border: solid 1px gray;
    margin: auto;
    object-fit: fill;
  }
  .name {
    text-align: center;
    font-family: Bahnschrift;
    font-size: 8rem;
    line-height: 12rem;
    font-weight: bold;
    color: white;
  }
}

.marcador {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 0;
  right: 0;
  font-family: Bahnschrift;
  font-size: 18rem;
  font-weight: bold;
  color: white;
}

/* Aspect ratio Vertical */
@media (max-aspect-ratio: 3/4) {
  .background {
    background-image: url('../../../../assets/background/background-cancha-vertical.svg');
  }

  .sponsor-marcador {
    width: 25%;
    place-self: center;
    justify-content: center;
    display: grid;
    img {
      width: 100%;
    }
  }
}

/* Aspect ratio Horizontal */
@media (min-aspect-ratio: 4/3) {
  .background {
    background-image: url('../../../../assets/background/background-cancha-horizontal.svg');
  }
}
