* {
  text-shadow: 0px 0px 10px var(--black), -2px 0 var(--black), 0 2px var(--black), 2px 0 var(--black),
    0 -2px var(--black);
}

.main-partidos {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../assets/background/background-cancha-cuadrado.svg');
}

.section-partidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sponsor-marcador {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 15rem 0;

  img {
    width: 60%;
  }
}

.iterator {
  margin: 0 auto;
  width: 100%;
}

.partidos {
  display: flex;
  place-content: center;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;

  .tiempo {
    position: absolute;
    text-align: center;
    top: -15%;
    left: 0;
    right: 0;
    font-size: 10rem;
    color: white;
  }

  .teams-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.team {
  width: 45%;

  .escudo {
    display: flex;
    margin: auto;
    border: 1rem solid white;
    border-radius: 50%;
    height: 32rem;
    width: 32rem;

    .escudo__img {
      border-radius: 50%;
      filter: drop-shadow(2px 3px 4px #000000b3);
      object-fit: cover;
      width: 100%;
    }
  }

  .name {
    text-align: center;
    font-size: 8rem;
    line-height: 12rem;
    font-weight: bold;
    color: white;
  }
}

.marcador {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 0;
  right: 0;
  font-size: 18rem;
  font-weight: bold;
  color: white;
}

/* ------------------------- 1366px x 768px ---------------------------------*/
@media (min-width: 1366px) {
  .background {
    background-image: url('../../../../assets/background/background-cancha-horizontal.svg');
  }

  .sponsor-marcador {
    margin-bottom: 10rem;

    img {
      width: 40%;
    }
  }

  .partidos {
    max-width: 900px;

    .teams-container {
      width: 100%;
    }

    .tiempo {
      top: -8rem;
      font-size: 10rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 1rem solid white;
      height: 25rem;
      width: 25rem;

      img {
        filter: drop-shadow(2px 3px 4px #000000b3);
      }
    }

    .name {
      font-size: 8rem;
    }
  }

  .marcador {
    font-size: 12rem;
    top: 16rem;
  }
}

/* Aspect ratio Vertical */
@media (min-width: 1920px) {
  .background {
    background-image: url('../../../../assets/background/background-cancha-vertical.svg');
  }

  .sponsor-marcador {
    margin-bottom: 12rem;

    img {
      width: 45%;
    }
  }

  .partidos {
    max-width: 1080px;

    .teams-container {
      width: 100%;
      gap: 200px;
    }

    .tiempo {
      top: -10rem;
      font-size: 14rem;
    }
  }

  .team {
    width: 50%;

    .escudo {
      border: 1rem solid white;
      height: 42rem;
      width: 42rem;

      img {
        filter: drop-shadow(2px 3px 4px #000000b3);
      }
    }

    .name {
      font-size: 8rem;
    }
  }

  .marcador {
    font-size: 22rem;
    top: 25rem;
  }
}

/* Aspect ratio Horizontal */
@media (min-height: 1920px) {
  .background {
    background-image: url('../../../../assets/background/background-cancha-horizontal.svg');
  }

  .sponsor-marcador {
    margin-bottom: 10rem;

    img {
      width: 70%;
    }
  }

  .partidos {
    max-width: 1920px;

    .teams-container {
      width: 100%;
      gap: 150px;
    }

    .tiempo {
      top: -2rem;
      font-size: 10rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 1rem solid white;
      height: 42rem;
      width: 42rem;

      img {
        filter: drop-shadow(2px 3px 4px #000000b3);
      }
    }

    .name {
      font-size: 8rem;
    }
  }

  .marcador {
    font-size: 20rem;
  }
}

/*---------------------- 2560px x 1440px landscape and portrait ----------------------------*/

@media screen and (min-width: 2560px) and (orientation: landscape) {
  .background {
    background-image: url('../../../../assets/background/background-cancha-horizontal.svg');
  }

  .sponsor-marcador {
    margin: 0 0 18rem 0;

    img {
      width: 40%;
      max-width: 1160px;
    }
  }

  .partidos {
    max-width: 2560px;

    .teams-container {
      width: 80%;
      gap: 15rem;
    }

    .tiempo {
      top: -8rem;
      font-size: 16rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 1rem solid white;
      height: 60rem;
      width: 60rem;

      img {
        filter: drop-shadow(12px 13px 14px #000000b3);
      }
    }

    .name {
      font-size: 20rem;
      margin-top: 12rem;
    }
  }

  .marcador {
    font-size: 35rem;
    top: 35rem;
  }
}

@media screen and (min-height: 2560px) and (orientation: portrait) {
  .background {
    background-image: url('../../../../assets/background/background-cancha-vertical.svg');
  }

  .sponsor-marcador {
    margin-bottom: 18rem;

    img {
      width: 60%;
      max-width: 870px;
    }
  }

  .partidos {
    max-width: 1440px;

    .teams-container {
      width: 100%;
      gap: 15rem;
    }

    .tiempo {
      top: -8rem;
      font-size: 16rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 1rem solid white;
      height: 45rem;
      width: 45rem;

      img {
        filter: drop-shadow(12px 13px 14px #000000b3);
      }
    }

    .name {
      font-size: 14rem;
      margin: 30px;
    }
  }

  .marcador {
    font-size: 25rem;
    top: 25rem;
  }
}

/*---------------------- 3840px x 2610px landscape and portrait ----------------------------*/
@media screen and (min-width: 3840px) and (orientation: landscape) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-horizontal-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 16rem;

    img {
      width: 40%;
      max-width: 1500px;
    }
  }

  .partidos {
    .teams-container {
      width: 100%;
    }

    .tiempo {
      top: -12rem;
      font-size: 25rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 2.5rem solid white;
      height: 80rem;
      width: 80rem;

      img {
        filter: drop-shadow(22px 23px 24px #000000b3);
      }
    }

    .name {
      font-size: 18rem;
      margin-top: 18rem;
    }
  }

  .marcador {
    font-size: 45rem;
    top: 50rem;
  }
}

@media screen and (min-height: 3840px) and (orientation: portrait) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-vertical-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 30rem;

    img {
      width: 70%;
      max-width: 1600px;
    }
  }

  .partidos {
    .teams-container {
      width: 100%;
      gap: 45rem;
    }

    .tiempo {
      top: -16rem;
      font-size: 25rem;
    }
  }

  .team {
    width: 100%;

    .escudo {
      border: 2.5rem solid white;
      height: 70rem;
      width: 70rem;

      img {
        filter: drop-shadow(22px 23px 24px #000000b3);
      }
    }

    .name {
      font-size: 18rem;
      margin-top: 18rem;
    }
  }

  .marcador {
    font-size: 45rem;
    top: 40rem;
  }
}

/*---------------------- 7680px x 4320px landscape and portrait ----------------------------*/

@media (min-width: 7680px) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-horizontal-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 30rem;

    img {
      max-width: 3000px;
    }
  }

  .partidos {
    width: 100%;
    max-width: 4000px;

    .teams-container {
      gap: 100rem;
      width: max-content;
    }

    .tiempo {
      top: -20rem;
      font-size: 60rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 3rem solid white;
      height: 220rem;
      width: 220rem;

      img {
        filter: drop-shadow(38px 39px 30px #000000b3);
      }
    }

    .name {
      font-size: 40rem;
      margin-top: 18rem;
    }
  }

  .marcador {
    font-size: 120rem;
    top: 140rem;
  }
}
@media (min-height: 7680px) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-vertical-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 60rem;

    img {
      max-width: 3000px;
    }
  }

  .partidos {
    width: 100%;
    max-width: 4000px;

    .teams-container {
      gap: 100rem;
      width: max-content;
    }

    .tiempo {
      top: -30rem;
      font-size: 55rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 3rem solid white;
      height: 150rem;
      width: 150rem;

      img {
        filter: drop-shadow(38px 39px 30px #000000b3);
      }
    }

    .name {
      font-size: 40rem;
      margin-top: 30rem;
    }
  }

  .marcador {
    font-size: 100rem;
    top: 80rem;
  }
}
