* {
  text-shadow: 0px 0px 10px var(--black), -2px 0 var(--black), 0 2px var(--black), 2px 0 var(--black),
    0 -2px var(--black);
}

.swiper {
  height: auto;
}

.main-partidos {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../assets/background/background-cancha-vertical.svg');
}

.section-partidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.sponsor-marcador {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 0 6rem 0;
  min-width: 200px;

  img {
    width: 80%;
    max-width: 300px;
  }
}

.iterator {
  margin: 0 auto;
  width: 100%;
  min-width: 280px;
  max-width: 280px;
}

.partidos {
  display: flex;
  place-content: center;
  position: relative;
  max-width: 1000px;
  margin: 0 auto;

  .tiempo {
    position: absolute;
    text-align: center;
    top: -30%;
    left: 0;
    right: 0;
    font-size: 5rem;
    color: white;
  }

  .tiempo--color {
    color: hsla(350, 70%, 50%, 1);
  }

  .teams-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 4rem;
  }
}

.team {
  width: 45%;

  .escudo {
    display: flex;
    margin: auto;
    border: 1rem solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;

    .escudo__img {
      border-radius: 50%;
      filter: drop-shadow(2px 3px 4px #000000b3);
      object-fit: cover;
      width: 100%;
    }
  }

  .name {
    text-align: center;
    margin-top: 10px;
    font-size: 3rem;
    font-weight: bold;
    color: white;
  }
}

.marcador {
  position: absolute;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 36%;
  left: 0;
  right: 0;
  div {
    font-size: 6rem;
    font-weight: bold;
    color: white;
  }
}

/*--------------------Media querie Mobile Devices----------------------------*/

@media (min-width: 375px) and (max-width: 539px) and (orientation: portrait) {
  .background {
    background-image: url('../../../../assets/background/background-cancha-horizontal.svg');
  }
}

/*Nest Hub*/

@media (min-height: 600px) and (orientation: landscape) {
  .sponsor-marcador {
    margin: 0 0 150px 0;

    img {
      width: 40%;
      max-width: 600px;
    }
  }

  .iterator {
    max-width: 1024px;
  }

  .partidos {
    .tiempo {
      top: -30%;
      font-size: 8rem;
    }

    .teams-container {
      width: auto;
      gap: 10rem;
    }
  }

  .team {
    .escudo {
      width: 200px;
      height: 200px;
    }

    .name {
      font-size: 5rem;
    }
  }

  .marcador {
    top: 48%;
    div {
      font-size: 11rem;
    }
  }
}

/*iPad Mini and Air */

@media (min-width: 768px) and (max-width: 912px) and (orientation: portrait) {
  .sponsor-marcador {
    margin: 0 0 150px 0;

    img {
      max-width: 600px;
    }
  }

  .partidos {
    .tiempo {
      top: -25%;
      font-size: 10rem;
    }

    .teams-container {
      width: auto;
      gap: 14rem;
    }
  }

  .team {
    .escudo {
      width: 300px;
      height: 300px;
    }

    .name {
      font-size: 8rem;
    }
  }

  .marcador {
    top: 48%;
    div {
      font-size: 15rem;
    }
  }
}

@media (min-height: 768px) and (max-height: 820px) and (orientation: landscape) {
  .sponsor-marcador {
    margin: 0 0 120px 0;

    img {
      margin-top: 30px;
      width: 100%;
      max-width: 600px;
    }
  }

  .partidos {
    .tiempo {
      top: -25%;
      font-size: 10rem;
    }

    .teams-container {
      width: auto;
      gap: 14rem;
    }
  }

  .team {
    .escudo {
      width: 300px;
      height: 300px;
    }

    .name {
      font-size: 8rem;
    }
  }

  .marcador {
    top: 48%;
    div {
      font-size: 15rem;
    }
  }
}

/* ------------------------- Surface Pro and 1366px x 768px ---------------------------------*/
@media (min-width: 1366px) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-horizontal-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 12rem;

    img {
      width: 40%;
    }
  }

  .partidos {
    .teams-container {
      gap: 14rem;
    }

    .tiempo {
      top: -10rem;
      font-size: 10rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 1rem solid white;
      height: 30rem;
      width: 30rem;

      img {
        filter: drop-shadow(2px 3px 4px #000000b3);
      }
    }

    .name {
      font-size: 8rem;
    }
  }

  .marcador {
    top: 20rem;
    div {
      font-size: 16rem;
    }
  }
}

/* Media querie desktop in landscape orientation */
@media (min-width: 1920px) and (max-width: 2559px) and (orientation: landscape) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-horizontal-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 12rem;

    img {
      width: 45%;
    }
  }

  .partidos {
    max-width: 1080px;

    .teams-container {
      width: 100%;
      gap: 200px;
    }

    .tiempo {
      top: -10rem;
      font-size: 14rem;
    }
  }

  .team {
    width: 50%;

    .escudo {
      border: 1rem solid white;
      height: 42rem;
      width: 42rem;

      img {
        filter: drop-shadow(2px 3px 4px #000000b3);
      }
    }

    .name {
      font-size: 8rem;
    }
  }

  .marcador {
    top: 25rem;
    div {
      font-size: 22rem;
    }
  }
}

/* Media querie desktop in portrait orientation */
@media (min-height: 1920px) and (max-width: 2559px) and (orientation: portrait) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-vertical-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 20rem;

    img {
      width: 70%;
      max-width: 800px;
    }
  }

  .iterator {
    max-width: 990px;
  }

  .partidos {
    .teams-container {
      width: 100%;
      gap: 150px;
    }

    .tiempo {
      top: -15rem;
      font-size: 15rem;
    }
  }

  .team {
    width: 50%;

    .escudo {
      border: 1rem solid white;
      height: 42rem;
      width: 42rem;

      img {
        filter: drop-shadow(2px 3px 4px #000000b3);
      }
    }

    .name {
      font-size: 8rem;
    }
  }

  .marcador {
    top: 56%;
    div {
      font-size: 20rem;
    }
  }
}

/*---------------------- 2560px x 1440px landscape and portrait ----------------------------*/

@media screen and (min-width: 2560px) and (max-width: 3839px) and (orientation: landscape) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-horizontal-cancha.svg');
  }

  .sponsor-marcador {
    margin: 0 0 18rem 0;

    img {
      width: 40%;
      max-width: 1160px;
    }
  }

  .iterator {
    max-width: 2400px;
  }

  .partidos {
    max-width: 2560px;

    .teams-container {
      width: 80%;
      gap: 15rem;
    }

    .tiempo {
      top: -8rem;
      font-size: 16rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 2rem solid white;
      height: 60rem;
      width: 60rem;

      img {
        filter: drop-shadow(12px 13px 14px #000000b3);
      }
    }

    .name {
      font-size: 15rem;
      margin-top: 5rem;
    }
  }

  .marcador {
    top: 35rem;
    div {
      font-size: 35rem;
    }
  }
}

@media screen and (min-height: 2560px) and (max-height: 3839px) and (orientation: portrait) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-vertical-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 18rem;

    img {
      width: 60%;
      max-width: 870px;
    }
  }

  .iterator {
    max-width: 1440px;
  }

  .partidos {
    max-width: 1440px;

    .teams-container {
      width: 100%;
      gap: 15rem;
    }

    .tiempo {
      top: -8rem;
      font-size: 16rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 2rem solid white;
      height: 45rem;
      width: 45rem;

      img {
        filter: drop-shadow(12px 13px 14px #000000b3);
      }
    }

    .name {
      font-size: 14rem;
      margin: 30px;
    }
  }

  .marcador {
    top: 25rem;
    div {
      font-size: 25rem;
    }
  }
}

/*---------------------- 3840px x 2610px landscape and portrait ----------------------------*/
@media screen and (min-width: 3840px) and (max-width: 7679px) and (orientation: landscape) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-horizontal-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 16rem;

    img {
      width: 40%;
      max-width: 1500px;
    }
  }

  .iterator {
    max-width: 3840px;
  }

  .partidos {
    .teams-container {
      gap: 400px;
    }

    .tiempo {
      top: -12rem;
      font-size: 26rem;
    }
  }

  .team {
    width: 50%;

    .escudo {
      border: 2.5rem solid white;
      height: 90rem;
      width: 90rem;

      img {
        filter: drop-shadow(22px 23px 24px #000000b3);
      }
    }

    .name {
      font-size: 28rem;
      margin-top: 8rem;
    }
  }

  .marcador {
    top: 60rem;
    div {
      font-size: 45rem;
    }
  }
}

@media screen and (min-height: 3840px) and (max-height: 7679px) and (orientation: portrait) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-vertical-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 30rem;

    img {
      width: 70%;
      max-width: 1700px;
    }
  }

  .iterator {
    max-width: 2610px;
  }

  .partidos {
    max-width: 2000px;
    .teams-container {
      width: 100%;
      gap: 45rem;
    }

    .tiempo {
      top: -16rem;
      font-size: 26rem;
    }
  }

  .team {
    width: 50%;

    .escudo {
      border: 2.5rem solid white;
      height: 90rem;
      width: 90rem;

      img {
        filter: drop-shadow(22px 23px 24px #000000b3);
      }
    }

    .name {
      font-size: 28rem;
      margin-top: 8rem;
    }
  }

  .marcador {
    top: 60rem;
    div {
      font-size: 50rem;
    }
  }
}

/*---------------------- 7680px x 4320px landscape and portrait ----------------------------*/

@media (min-width: 7680px) and (max-width: 9999px) and (orientation: landscape) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-horizontal-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 30rem;

    img {
      max-width: 3000px;
    }
  }

  .iterator {
    max-width: 7680px;
  }

  .partidos {
    width: 100%;
    max-width: 4000px;

    .teams-container {
      gap: 100rem;
      width: max-content;
    }

    .tiempo {
      top: -20rem;
      font-size: 60rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 4rem solid white;
      height: 220rem;
      width: 220rem;

      img {
        filter: drop-shadow(38px 39px 30px #000000b3);
      }
    }

    .name {
      font-size: 40rem;
      margin-top: 18rem;
    }
  }

  .marcador {
    top: 140rem;
    div {
      font-size: 120rem;
    }
  }
}

@media (min-height: 7680px) and (max-height: 9999px) and (orientation: portrait) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-vertical-cancha.svg');
  }

  .sponsor-marcador {
    margin-bottom: 60rem;

    img {
      max-width: 3000px;
    }
  }

  .iterator {
    max-width: 4320px;
  }

  .partidos {
    width: 100%;
    max-width: 4000px;

    .teams-container {
      gap: 100rem;
      width: max-content;
    }

    .tiempo {
      top: -30rem;
      font-size: 55rem;
    }
  }

  .team {
    width: 40%;

    .escudo {
      border: 3rem solid white;
      height: 150rem;
      width: 150rem;

      img {
        filter: drop-shadow(38px 39px 30px #000000b3);
      }
    }

    .name {
      font-size: 40rem;
      margin-top: 30rem;
    }
  }

  .marcador {
    top: 80rem;
    div {
      font-size: 100rem;
    }
  }
}

.marcador--anim {
  -webkit-animation: text-anim 1s linear both;
  animation: text-anim 1s linear both;
}

@-webkit-keyframes text-anim {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}

@keyframes text-anim {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
  }
}
