<main class="main-partidos">
  <h1>Partidos en vivo</h1>
  <section class="envivo">
    <div *ngFor="let partido of partidos">
      <div >
        <h2>{{ partido.fixture.date }}</h2>
        <ul>
          <li>
            {{ partido.fixture.status.elapsed }}
          </li>
          <li>
            {{ partido.fixture.status.long }}
          </li>
        </ul>
      </div>
      <div>
        {{ partido.teams.away.name }}
        <img src="{{ partido.teams.away.logo }}" alt="" />
        {{ partido.goals.away }}
        {{ partido.teams.home.name }}
        <img src="{{ partido.teams.home.logo }}" alt="" />
        {{ partido.goals.home }}
      </div>
    </div>
  </section>
</main>

<!-- <div *ngIf="status === 'Started'; else partidos">
  <h2>No hay partidos</h2>
</div>
<hr />
<ng-template #partidos>
  <li *ngFor="let item of info">
    {{ item.teams.away.name }}
    <img src="{{ item.teams.away.logo }}" alt="" />
  </li>
</ng-template> -->
<!-- <li *ngFor="let item of info">{{ item.teams.home.name }}</li>

  <li *ngFor="let item of info">Gol{{ item.goals.away }}</li> -->
