<main class="main-partidos">
  <h1>Partidos en vivo</h1>
  <section class="envivo">
    <div *ngFor="let partido of partidos">
      <div >
        <h2>{{ partido.fixture.date }}</h2>
        <ul>
          <li>
            {{ partido.fixture.status.elapsed }}
          </li>
          <li>
            {{ partido.fixture.status.long }}
          </li>
        </ul>
      </div>
      <div>
        {{ partido.teams.away.name }}
        <img src="{{ partido.teams.away.logo }}" alt="" />
        {{ partido.goals.away }}
        {{ partido.teams.home.name }}
        <img src="{{ partido.teams.home.logo }}" alt="" />
        {{ partido.goals.home }}
      </div>
    </div>
  </section>
</main>
