<main class="table-container">
  <div class="background-points">
    <section class="table-points">
      <div class="team-points">
        <div class="team-points--ul" *ngFor="let item of tablePointsOne">
          <div class="escudo">
            <img src="assets/flags/{{ item?.team.logo }}" alt="{{ item?.team.logo }}" />
          </div>
          <div>{{ item?.team.name }}</div>
          <div>{{ item?.points }} 'pts'</div>
        </div>
      </div>
    </section>
    <section>
      <div class="team-points">
        <div class="team-points--ul" *ngFor="let item of tablePointsTwo">
          <div class="escudo">
            <img src="assets/flags/{{ item?.team.logo }}" alt="{{ item?.team.logo }}" />
          </div>
          <div>{{ item?.team.name }}</div>
          <div>{{ item?.points }} 'pts'</div>
        </div>
      </div>
    </section>
    <section>
      <div class="team-points">
        <div class="team-points--ul" *ngFor="let item of tablePointsThree">
          <div class="escudo">
            <img src="assets/flags/{{ item?.team.logo }}" alt="{{ item?.team.logo }}" />
          </div>
          <div>{{ item?.team.name }}</div>
          <div>{{ item?.points }} 'pts'</div>
        </div>
      </div>
    </section>
    <section>
      <div class="team-points">
        <div class="team-points--ul" *ngFor="let item of tablePointsFour">
          <div class="escudo">
            <img src="assets/flags/{{ item?.team.logo }}" alt="{{ item?.team.logo }}" />
          </div>
          <div>{{ item?.team.name }}</div>
          <div>{{ item?.points }} 'pts'</div>
        </div>
      </div>
    </section>
  </div>
</main>
