* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  min-width: 280px;
  height: auto;
}

.content-box {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../assets/background/ultrawide-vertical-lineas.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sponsor-table {
  display: flex;
  width: 100%;
  min-width: 280px;
  justify-content: center;

  img {
    width: 55%;
  }
}

.container-tables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
  color: white;
}

.table-container {
  display: flex;
  width: 100%;
}

.table-container__points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin: 2% auto;
}

.table-teams {
  display: flex;
  padding: 4%;
  flex-direction: column;
  place-content: center;
  width: 100%;
  gap: 1.5rem;
  box-shadow: 0px 0px 15px 5px #ffffff63 inset;
  -webkit-box-shadow: 0px 0px 15px 5px #ffffff63 inset;
  -moz-box-shadow: 0px 0px 15px 5px #ffffff63 inset;
  border-radius: 10px;
}

.groups-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  width: 100%;
}

.table-teams--ul {
  display: flex;
  position: relative;
  place-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;

  .border-table {
    position: absolute;
    z-index: 0;
    width: 90%;
    right: 2%;
    height: 85%;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 2px #ffffffd7 inset;
    -webkit-box-shadow: 0px 0px 10px 2px #ffffffd7 inset;
    -moz-box-shadow: 0px 0px 10px 2px #ffffffd7 inset;
  }

  .escudo {
    z-index: 1;
    display: flex;
    margin-right: auto;
    height: 3rem;
    width: 3rem;
    border: 0.2rem solid white;
    border-radius: 50%;

    img {
      border-radius: 50%;
      filter: drop-shadow(2px 2px 2px #000000b3);
      object-fit: cover;
      width: 100%;
    }
  }

  .title-name {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 100%;
    margin: auto;
  }

  .points {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 100%;
    margin: auto;
  }
}

/*-------------------Media Query for Mobile Devices-------------------------*/
@media(min-width: 320px) and (max-width: 539px) and (orientation: portrait) {
  .container-tables {
    min-width: 360px;
  }

  .table-teams--ul {

    .border-table {
      height: 80%;
    }

    .escudo {
      height: 4rem;
      width: 4rem;
    }

    .title-name {
      filter: drop-shadow(12px 13px 14px #000000b3);
      font-size: 2rem;

    }

    .points {
      filter: drop-shadow(12px 13px 14px #000000b3);
      font-size: 2rem;
      padding: 0.5rem;
    }
  }
}

/*Media Query Mobile Devices in landscape*/

@media (min-height: 280px) and (max-height: 360px) and (orientation: landscape) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-horizontal-lineas.svg');
  }

  .swiper {
    overflow: hidden;
  }

  .sponsor-table {
    margin-top: 10px;

    img {
      max-width: 200px;
    }
  }

  .container-tables {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    place-items: center;
    min-width: 400px;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    width: 90%;
  }

  .table-container__points {
    width: 80%;
    margin: 10px;
  }

  .table-teams {
    gap: 1rem;
  }

  .groups-title {
    font-size: 1.8rem;
  }

  .table-teams--ul {

    .border-table {
      height: 80%;
    }

    .escudo {
      height: 3rem;
      width: 3rem;
    }

    .title-name {
      font-size: 1.5rem;

    }

    .points {
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }
}

@media (min-height: 375px) and (max-height: 767px) and (orientation: landscape) {
  .background {
    background-image: url('../../../../assets/background/ultrawide-horizontal-lineas.svg');
    flex-direction: row;
  }

  .swiper {
    overflow: hidden;
  }

  .sponsor-table {
    height: 100%;
    width: 80%;

    img {
      align-self: center;
      max-width: none;
      width: 70%;
    }
  }

  .container-tables {
    width: 100%;
    height: 100%;
    place-items: center;
  }

  .table-container {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
    width: 90%;
  }

  .table-container__points {
    width: 80%;
    margin: 10px;
  }

  .table-teams {
    gap: 0.3rem;
  }

  .groups-title {
    font-size: 1.8rem;
  }

  .table-teams--ul {

    .border-table {
      height: 80%;
    }

    .escudo {
      height: 3rem;
      width: 3rem;
    }

    .title-name {
      font-size: 1.5rem;

    }

    .points {
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }
}

/*-------------------- Media Query for Tablets --------------------------------*/

/*Surface Duo oientation portrait*/

@media(min-width: 540px) and (max-width: 767px) and (orientation: portrait) {
  .sponsor-table {
    margin-bottom: 30px;
    min-width: 540px;

    img {
      width: 70%;
    }
  }

  .container-tables {
    width: 100%;
  }

  .table-container__points {
    width: 70%;
  }

  .groups-title {
    font-size: 2.5rem;
  }

  .table-teams--ul {

    .border-table {
      height: 80%;
    }

    .escudo {
      height: 4rem;
      width: 4rem;
    }

    .title-name {
      filter: drop-shadow(12px 13px 14px #000000b3);
      font-size: 2rem;

    }

    .points {
      filter: drop-shadow(12px 13px 14px #000000b3);
      font-size: 2rem;
      padding: 0.5rem;
    }
  }
}

/*Surface Duo oientation landscape*/

@media(min-height: 540px) and (max-height: 767px) and (orientation: landscape) {
  .sponsor-table {
    width: 60%;
    .img {
      width: 80%;
    }
  }
  
  .container-tables {
    width: 90%;
    .table-container {
      width: 100%;
    }
  }

  .groups-title {
    font-size: 2rem;
  }

  .table-container__points {
    width: 90%;
  }

  .table-teams--ul {
    .border-table {
      height: 80%;
    }

    .escudo {
      height: 4rem;
      width: 4rem;
    }

    .title-name {
      filter: drop-shadow(12px 13px 14px #000000b3);
      font-size: 2rem;

    }

    .points {
      filter: drop-shadow(12px 13px 14px #000000b3);
      font-size: 2rem;
      padding: 0.5rem;
    }
  }
}