* {
  box-sizing: border-box;
}

.content-box {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../../assets/background/background-lineas-cuadrado.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sponsor-table {
  display: flex;
  width: 100%;
  justify-content: center;
  img {
    width: 55%;
  }
}

.container-tables {
  display: flex;
  width: 80%;
  margin: 0 auto;
  color: white;
}

.table-container {
  width: 100%;
  font-family: Bahnschrift;
}

.table-container__points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin: 5% auto;
}

.table-teams {
  display: flex;
  padding: 4%;
  flex-direction: column;
  place-content: center;
  width: 100%;
  gap: 1.5rem;
  box-shadow: 0px 0px 30px 8px #ffffff63 inset;
  -webkit-box-shadow: 0px 0px 30px 8px #ffffff63 inset;
  -moz-box-shadow: 0px 0px 10px 8px #ffffff63 inset;
  border-radius: 10px;
}

.groups-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  flex-direction: column;
  width: 100%;
}

.table-teams--ul {
  display: flex;
  position: relative;
  place-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;
  .border-table {
    position: absolute;
    z-index: 0;
    width: 90%;
    right: 2%;
    height: 70%;
    border-radius: 1rem;
    box-shadow: 0px 0px 30px 8px #ffffffd7 inset;
    -webkit-box-shadow: 0px 0px 30px 8px #ffffffd7 inset;
    -moz-box-shadow: 0px 0px 30px 8px #ffffffd7 inset;
  }

  .escudo {
    z-index: 1;
    display: flex;
    margin-right: auto;
    height: 6rem;
    width: 6rem;
    border: 0.2rem solid white;
    border-radius: 50%;
    img {
      border-radius: 50%;
      filter: drop-shadow(2px 2px 2px #000000b3);
      object-fit: cover;
      width: 100%;
    }
  }

  .title-name {
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 100%;
    margin: auto;
  }

  .points {
    font-size: 3rem;
    font-weight: bold;
    line-height: 100%;
    margin: auto;
  }
}

/* Aspect ratio Vertical */
@media (max-aspect-ratio: 3/4) {
  .background {
    background-image: url('../../../../assets/background/background-lineas-vertical.svg');
  }

  .sponsor-table {
    display: flex;
    justify-content: center;
    width: 100%;
    img {
      width: 65%;
      margin-bottom: 5%;
    }
  }

  .container-tables {
    width: 90%;
  }

  .groups-title {
    font-size: 3.5rem;
  }

  .table-teams--ul {
    .border-table {
      height: 70%;
    }

    .escudo {
      height: 8rem;
      width: 8rem;
    }

    .title-name {
      font-size: 4rem;
    }

    .points {
      font-size: 3.5rem;
    }
  }
}

/* Aspect ratio Horizontal */
@media (min-aspect-ratio: 4/3) {
  .background {
    background-image: url('../../../../assets/background/background-lineas-horizontal.svg');
    flex-direction: row;
    align-items: center;
  }

  .sponsor-table {
    width: 45%;
    img {
      width: 80%;
      margin: 0;
    }
  }

  .container-tables {
    width: 50%;
  }

  .groups-title {
    font-size: 3.5rem;
  }

  .table-container__points {
    width: auto;
    margin: 5%;
  }

  .table-teams--ul {
    .border-table {
      height: 70%;
    }

    .escudo {
      height: 8rem;
      width: 8rem;
    }

    .title-name {
      font-size: 4rem;
    }

    .points {
      font-size: 3.5rem;
    }
  }
}
