* {
  font-weight: bold;
  color: #ffffff;
}

.main-proximos-partidos {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-proximos-partidos {
  background-image: url('../../../../assets/background/background-lineas-cuadrado.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container-proximos-partidos {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4.5rem;
}

.sponsor-proximos-partidos {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: var(--lg);
  img {
    width: 72%;
  }
}

.section-proximos-partidos {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 3rem;

  .container-title-partidos {
    display: flex;
    place-content: center;
    place-items: center;
    .title-partidos {
      text-align: center;
      font-size: 9.5rem;
      letter-spacing: 0.2rem;
      margin-bottom: 1rem;
    }
  }

  .proximos-partidos-container {
    display: flex;
    flex-direction: column;
    .proximos-partidos {
      position: relative;
      display: flex;
      align-items: center;
      margin: 3.5rem 0;
      padding: 0 4rem;
      .tiempo-proximos-partidos {
        text-align: center;
        font-size: 7rem;
        letter-spacing: 0.2rem;
        width: 33.3%;
      }
      .team-name {
        width: 33.3%;
        font-size: 7.5rem;
        line-height: 9rem;
        letter-spacing: 0.4rem;
      }
      .team-away {
        text-align: right;
      }
      .container-img {
        position: absolute;
        border: solid 0.4rem white;
        height: 12rem;
        width: 12rem;
        border-radius: 50%;
        img {
          border-radius: 50%;
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .img-home {
        left: 25%;
      }

      .img-away {
        right: 25%;
      }
    }
  }
}

.border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 9rem;
  border-radius: 40px;
  z-index: 0;
  opacity: 0.7;
  box-shadow: 0px 0px 15px 4px #ffffffd7 inset;
  -webkit-box-shadow: 0px 0px 15px 4px #ffffffd7 inset;
  -moz-box-shadow: 0px 0px 15px 4px #ffffffd7 inset;
}

/*Aspect ratio Vertical*/
@media (max-aspect-ratio: 3/4) {
  .background-proximos-partidos {
    background-image: url('../../../../assets/background/background-lineas-vertical.svg');
  }

  .sponsor-proximos-partidos img {
    width: 90%;
  }

  .section-proximos-partidos {
    margin-top: 6rem;

    .container-title-partidos {
      .title-partidos {
        font-size: 12rem;
        margin-bottom: 1rem;
      }
    }

    .proximos-partidos-container {
      .proximos-partidos {
        margin: 3.5rem 0;
        padding: 0 4rem;
        .tiempo-proximos-partidos {
          font-size: 7.5rem;
        }
        .team-name {
          font-size: 8rem;
        }
        .container-img {
          height: 12.5rem;
          width: 12.5rem;
        }
      }
    }

    .border {
      height: 10rem;
    }
  }
}

/*Aspect ratio Horizontal*/
@media (min-aspect-ratio: 4/3) {
  .background-proximos-partidos {
    background-image: url('../../../../assets/background/background-lineas-horizontal.svg');
  }

  .sponsor-proximos-partidos {
    margin-top: 4rem;
    img {
      width: 45%;
    }
  }

  .container-title-partidos {
    .title-partidos {
      font-size: 8.5rem;
    }
  }

  .section-proximos-partidos {
    .proximos-partidos-container {
      width: 55%;
      place-self: center;

      .proximos-partidos {
        padding: 0 5rem;
        margin: 2.5rem;
      }
    }
  }
}
