.main-proximos-partidos {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-proximos-partidos {
  background-image: url('../../../../assets/background/background-lineas-cuadrado.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container-proximos-partidos {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.sponsor-proximos-partidos {
  display: flex;
  width: 100%;
  font-size: var(--lg);
  justify-content: center;
  padding: 3%;
}

.sponsor-proximos-partidos img {
  width: 70%;
}

.section-proximos-partidos {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  place-self: center;
}

.container-title-partidos {
  display: flex;
  place-content: center;
  place-items: center;
  height: 20%;
}

.title-partidos {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2%;
  font-weight: 700;
  color: white;
}

.proximos-partidos-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.proximos-partidos {
  position: relative;
  display: flex;
  place-items: center;
  height: 100%;
  margin: 2%;

  .team-name,
  .tiempo-proximos-partidos {
    width: 20%;
  }
}

.tiempo-proximos-partidos {
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  letter-spacing: 0.2rem;
  color: white;
}

.team-name {
  text-align: center;
  justify-items: center;
  font-size: 6rem;
  color: white;
  line-height: 1rem;
  letter-spacing: 0.3rem;
  font-weight: lighter;
}

.container-img {
  display: flex;
  width: 15%;
  margin: auto;
  border: solid 0.4rem white;
  z-index: 1;
  height: 100%;
  border-radius: 50%;

  .escudo-img {
    border-radius: 50%;
    object-fit: cover;
    width: 100%;
  }
}

.border {
  border-radius: 40px;
  width: 100%;
  height: 50%;
  z-index: 0;
  left: 0;
  position: absolute;
  opacity: 0.7;
  box-shadow: 0px 0px 30px 8px #ffffffd7 inset;
  -webkit-box-shadow: 0px 0px 30px 8px #ffffffd7 inset;
  -moz-box-shadow: 0px 0px 30px 8px #ffffffd7 inset;
}

/*Aspect ratio Vertical*/

@media (max-aspect-ratio: 3/4) {
  .background-proximos-partidos {
    background-image: url('../../../../assets/background/background-lineas-vertical.svg');
  }

  .sponsor-proximos-partidos img {
    width: 90%;
  }

  .title-partidos {
    font-size: 12rem;
    line-height: 16rem;
    margin-bottom: 0;
  }

  .proximos-partidos-container {
    place-content: center;
  }

  .proximos-partidos {
    padding: 1%;
    margin: 0;
    place-content: center;
    height: 20%;

    .team-name,
    .tiempo-proximos-partidos {
      padding: 1%;
    }
  }

  .team-name {
    font-size: 8rem;
  }

  .tiempo-proximos-partidos {
    font-size: 7rem;
  }

  .container-img {
    height: 80%;
  }
}

@media (min-aspect-ratio: 4/3) {
  .background-proximos-partidos {
    background-image: url('../../../../assets/background/background-lineas-horizontal.svg');
  }

  .sponsor-proximos-partidos {
    width: 100%;
    padding: 1%;

    img {
      width: 50%;
    }
  }

  .proximos-partidos-container {
    width: 60%;
    place-self: center;
  }

  .title-partidos {
    font-size: 7rem;
  }

  .proximos-partidos {
    margin: 0;
    padding: 2%;

    .container-img {
      max-width: 10%;
    }
  }
}
