<main class="main-proximos-partidos">
  <div class="background-proximos-partidos">
    <div class="container-proximos-partidos">
      <!-- IMAGEN SPONSOR -->
      <figure class="sponsor-proximos-partidos">
        <img src="assets/logos/logo.png" alt="Sponsor" />
      </figure>
      <section class="section-proximos-partidos">
        <div class="container-title-partidos">
          <h2 class="title-partidos">PRÓXIMOS PARTIDOS</h2>
        </div>
        <div class="proximos-partidos-container">
          <div class="proximos-partidos" *ngFor="let proximoPartido of proximosPartidos">
            <div class="border"></div>
            <div class="team-name team-home">
              {{ proximoPartido.teams.home.name.toUpperCase() | slice: 0:3 }}
            </div>
            <div class="date-partidos">
              <h3 class="fecha-proximos-partidos">
                {{ proximoPartido.fixture.date | date: 'dd/MM' }}
              </h3>
              <h2 class="tiempo-proximos-partidos">
                {{ proximoPartido.fixture.date | date: 'H:mm' }}
              </h2>
            </div>
            <div class="team-name team-away">
              {{ proximoPartido.teams.away.name.toUpperCase() | slice: 0:3 }}
            </div>
            <figure class="container-img img-home">
              <img [src]="getFlag(proximoPartido.teams.home)" alt="logo local" />
            </figure>
            <figure class="container-img img-away">
              <img [src]="getFlag(proximoPartido.teams.away)" alt="logo visitante" />
            </figure>
          </div>
        </div>
      </section>
    </div>
  </div>
</main>
