* {
  font-weight: bold;
  color: #ffffff;
}

.main-proximos-partidos {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.background-proximos-partidos {
  background-image: url('../../../assets/background/background-lineas-vertical.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  min-width: 280px;
}

.container-proximos-partidos {
  height: 100%;
  width: 100%;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sponsor-proximos-partidos {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: var(--lg);
  margin: 10px 0;

  img {
    min-width: 150px;
    max-width: 150px;
    filter: drop-shadow(1px 1px 1px #000000b3);
  }
}

.section-proximos-partidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 280px;
  place-self: center;

  .container-title-partidos {
    display: flex;
    height: 15%;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

    .title-partidos {
      filter: drop-shadow(2px 2px 2px #000000b3);
      text-align: center;
      font-size: 2rem;
      letter-spacing: 0.2rem;
    }
  }

  .proximos-partidos-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 10px;
    .proximos-partidos {
      position: relative;
      display: flex;
      align-items: center;
      height: 22%;
      width: 100%;
      padding: 0 1rem;

      .team-name {
        width: 33.3%;
        font-size: 1.5rem;
        line-height: 9rem;
        letter-spacing: 0.2rem;
        filter: drop-shadow(1px 1px 1px #000000b3);
      }

      .team-home {
        text-align: left;
      }

      .team-away {
        text-align: right;
      }

      .date-partidos {
        display: flex;
        width: 33.3%;
        justify-content: center;
        flex-direction: column;

        .fecha-proximos-partidos {
          width: 100%;
          text-align: center;
          font-size: 1.1rem;
          letter-spacing: 0.1rem;
          filter: drop-shadow(1px 1px 1px #000000b3);
        }

        .tiempo-proximos-partidos {
          text-align: center;
          font-size: 1.8rem;
          letter-spacing: 0.1rem;
          filter: drop-shadow(1px 1px 1px #000000b3);
          width: 100%;
        }
      }

      .container-img {
        position: absolute;
        display: flex;
        place-content: center;
        align-items: center;
        height: 5rem;
        width: 5rem;
        border-radius: 50%;

        img {
          border: solid 0.2rem white;
          border-radius: 50%;
          object-fit: cover;
          filter: drop-shadow(2px 3px 4px #000000b3);
          height: 90%;
          width: 90%;
        }
      }

      .img-home {
        left: 20%;
      }

      .img-away {
        right: 20%;
      }
    }
  }
}

.border {
  position: absolute;
  left: 0;
  width: 100%;
  height: 40px;
  border-radius: 40px;
  z-index: 0;
  opacity: 0.7;
  box-shadow: 0px 0px 15px 4px #ffffffd7 inset;
  -webkit-box-shadow: 0px 0px 15px 4px #ffffffd7 inset;
  -moz-box-shadow: 0px 0px 15px 4px #ffffffd7 inset;
}