<swiper [config]="swiperConfig" #swiper>
  <ng-template swiperSlide [data-swiper-autoplay]="swiperConfig.delaySlideMarcador">
    <app-marcador></app-marcador>
  </ng-template>
  <ng-template swiperSlide [data-swiper-autoplay]="swiperConfig.delaySlideProximosPartidos">
    <app-proximos-partidos></app-proximos-partidos>
  </ng-template>
  <ng-template swiperSlide [data-swiper-autoplay]="swiperConfig.delaySlideTablaPuntos">
    <app-tabla-puntos></app-tabla-puntos>
  </ng-template>
</swiper>

<app-confetti *ngIf="thereIsAGoal"></app-confetti>
<app-goal *ngIf="thereIsAGoal"></app-goal>
