<div class="main">
    <div class="background">
        <div class="main-section">
            <figure class="container-sponsor">
                <img src="../../../../assets/logos/coca-cola.png" alt="Sponsor">
            </figure>
            <div class="container-letter">
                <p class="letter g">G</p>
                <p class="letter o1">O</p>
                <p class="letter o2">O</p>
                <p class="letter o3">O</p>
                <p class="letter l">L</p>
                <p class="letter signo">!</p>
            </div>
        </div>
    </div>
</div>