.main {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    place-content: center;

}

.background {
    background-image: url('../../../../assets/background/background-cancha-cuadrado.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.main-section {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.container-sponsor {
    display: flex;
    place-content: center;
    width: 100%;
    margin-bottom: 5%;

    img {
        width: 55%;
        -webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
    }
}

.container-letter {
    width: 100%;
    display: flex;
    justify-content: center;

    .letter {
        display: inline-block;
        font-size: 30rem;
        color: white;
        position: relative;
        top: 0px;
        text-align: center;
        font-weight: 900;
        text-shadow: black 5px 10px 10px;
        z-index: 1;
    }

    .g {
        -webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }

    .o1 {
        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }

    .o2 {
        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }

    .o3 {
        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }

    .l {
        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }

    .signo {
        -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        animation: slide-in-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

    }
}

@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(1000px);
        transform: translateX(1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}


@media (max-aspect-ratio: 3/4) {
    .background {
        background-image: url('../../../../assets/background/background-cancha-horizontal.svg');
    }

    .container-sponsor {
        margin-bottom: 10%;

        img {
            width: 75%;
        }
    }
}

@media(min-aspect-ratio: 4/3) {
    .background {
        background-image: url('../../../../assets/background/background-cancha-vertical.svg');
    }

    .container-sponsor {
        margin-bottom: 0;

        img {
            width: 30%;
        }
    }

    .parrafo {
        font-size: 50rem;
    }

}