* {
  box-sizing: border-box;
}

.swiper {
  width: 100%;
  min-width: 280px;
  height: auto;
}

.content-box {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-image: url('../../../assets/background/background-lineas-vertical.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sponsor-table {
  display: flex;
  width: 100%;
  min-width: 280px;
  justify-content: center;

  img {
    width: 55%;
    filter: drop-shadow(2px 3px 4px #000000b3);
  }
}

.container-tables {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
  color: white;
}

.table-container {
  display: flex;
  width: 100%;
}

.table-container__points {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  margin: 2% auto;
}

.table-teams {
  display: flex;
  padding: 4%;
  flex-direction: column;
  place-content: center;
  width: 100%;
  gap: 1.5rem;
  box-shadow: 0px 0px 15px 5px #ffffff63 inset;
  -webkit-box-shadow: 0px 0px 15px 5px #ffffff63 inset;
  -moz-box-shadow: 0px 0px 15px 5px #ffffff63 inset;
  border-radius: 10px;
}

.groups-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  flex-direction: column;
  width: 100%;
}

.table-teams--ul {
  display: flex;
  position: relative;
  place-self: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1;

  .border-table {
    position: absolute;
    z-index: 0;
    width: 90%;
    right: 2%;
    height: 85%;
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 2px #ffffffd7 inset;
    -webkit-box-shadow: 0px 0px 8px 2px #ffffffd7 inset;
    -moz-box-shadow: 0px 0px 8px 2px #ffffffd7 inset;
  }

  .escudo {
    z-index: 1;
    display: flex;
    margin-right: auto;
    height: 3rem;
    width: 3rem;
    border: 0.2rem solid white;
    border-radius: 50%;

    img {
      border-radius: 50%;
      filter: drop-shadow(2px 2px 2px #000000b3);
      object-fit: cover;
      width: 100%;
    }
  }

  .title-name {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 100%;
    margin: auto;
  }

  .points {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 100%;
    margin: auto;
  }
}