<main class="content-box">
  <div class="background">
    <!-- LOGO -->
    <figure class="sponsor-table">
      <img src="assets/logos/logo.png" alt="Sponsor" />
    </figure>

    <swiper *ngIf="tables.length" [config]="swiperConfig">
      <!-- CONTENEDOR DE TABLAS -->
      <ng-template
        swiperSlide
        [data-swiper-autoplay]="swiperConfig.delaySlide"
        *ngFor="let tabla of tables; index as i"
      >
        <div class="container-tables">
          <section class="table-container" *ngFor="let grupos of tabla; index as j">
            <div class="table-container__points">
              <h1 class="groups-title">{{ nombreDeGrupo(i, j) }}</h1>
              <div class="table-teams">
                <div class="table-teams--ul" *ngFor="let item of grupos">
                  <div class="border-table"></div>
                  <div class="escudo">
                    <img [src]="getFlag(item.team)" alt="{{ item }}" />
                  </div>
                  <div class="title-name">{{ item?.team.name.toUpperCase() | slice: 0:3 }}</div>
                  <div class="points">{{ item?.points }} pts</div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </ng-template>
    </swiper>
  </div>
</main>
