/* You can add global styles to this file, and also import other style files */
@import 'swiper/scss';

:root {
  --black: #000000;
  --text-input-field: #ebebeb;
  --white: #ffffff;
  --sm: 2rem;
  --md: 3rem;
  --lg: 4rem;
}

@font-face {
  font-family: 'Bahnschrift';
  src: URL('assets/fonts/BAHNSCHRIFT.TTF') format('truetype');
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  font-family: Bahnschrift;
}

body {
  overflow: hidden;
}

.swiper {
  overflow: unset;
  width: 100vw;
  height: 100vh;
}
